client/.DS_STORE
client/node_modules
client/scripts/flow/*/.flowconfig
client/.flowconfig
client/*~
client/*.pyc
client/.grunt
client/_SpecRunner.html
client/__benchmarks__
client/build/
client/remote-repo/
client/coverage/
client/.module-cache
client/fixtures/dom/public/react-dom.js
client/fixtures/dom/public/react.js
client/test/the-files-to-test.generated.js
client/*.log*
client/chrome-user-data
client/*.sublime-project
client/*.sublime-workspace
client/.idea
client/*.iml
client/.vscode
client/*.swp
client/*.swo
client/
client/packages/react-devtools-core/dist
client/packages/react-devtools-extensions/chrome/build
client/packages/react-devtools-extensions/chrome/*.crx
client/packages/react-devtools-extensions/chrome/*.pem
client/packages/react-devtools-extensions/firefox/build
client/packages/react-devtools-extensions/firefox/*.xpi
client/packages/react-devtools-extensions/firefox/*.pem
client/packages/react-devtools-extensions/shared/build
client/packages/react-devtools-extensions/.tempUserDataDir
client/packages/react-devtools-inline/dist
client/packages/react-devtools-shell/dist
client/packages/react-devtools-timeline/dist


server/.idea
server/.ipynb_checkpoints
server/.mypy_cache
server/.vscode
server/__pycache__
server/.pytest_cache
server/htmlcov
server/dist
server/site
server/.coverage
server/coverage.xml
server/.netlify
server/test.db
server/log.txt
server/Pipfile.lock
server/env3.*
server/env
server/docs_build
server/venv
server/docs.zip
server/archive.zip
server/tests

# vim temporary files
*~
.*.sw?